In [ ]:
#graphing...

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import gaussian_kde

In [3]:
df = pd.read_csv("data\output\problem2_cluster_summary.csv")

<>:1: SyntaxWarning: invalid escape sequence '\o'
<>:1: SyntaxWarning: invalid escape sequence '\o'
C:\Users\mcj94\AppData\Local\Temp\ipykernel_8244\2420844578.py:1: SyntaxWarning: invalid escape sequence '\o'
  df = pd.read_csv("data\output\problem2_cluster_summary.csv")

In [5]:
df.head(10)

,cluster_id,num_applications,first_app_start,last_app_end,min_duration_sec,max_duration_sec
0,1440487435730,1,2015-09-01T18:14:40.000Z,2015-09-01T18:19:50.000Z,310,310
1,1448006111297,2,2016-04-07T10:45:21.000Z,2016-04-07T12:22:08.000Z,2530,2570
2,1460011102909,1,2016-07-26T11:54:20.000Z,2016-07-26T12:19:25.000Z,1505,1505
3,1472621869829,8,2016-09-09T07:43:47.000Z,2016-09-09T10:07:06.000Z,10,33
4,1474351042505,1,2016-11-18T22:30:06.000Z,2016-11-19T00:59:04.000Z,8938,8938
5,1485248649253,181,2017-01-24T17:00:28.000Z,2017-07-27T21:45:00.000Z,11,55957

In [7]:
df["cluster_id"] = df["cluster_id"].astype(str)

In [15]:
#set our colors
cmap = plt.get_cmap("tab10")  
colors = [cmap(i % cmap.N) for i in range(len(df))]

# Create bar chart
plt.figure(figsize=(10, 6))
bars = plt.bar(
    df["cluster_id"],
    df["num_applications"],
    color = colors
)

# Add value labels on top of each bar
for bar in bars:
    height = bar.get_height()
    plt.text(
        bar.get_x() + bar.get_width() / 2,
        height,
        f"{int(height)}",
        ha="center",
        va="bottom"
    )

# Labels and title
plt.xlabel("Cluster ID")
plt.ylabel("Number of Applications")
plt.title("Number of Applications per Cluster")

plt.tight_layout()

# Save figure
plt.savefig("problem2_bar_chart.png")
plt.close()

In [ ]:
#now plot density... 
df2 = pd.read_csv("data\output\problem2_timeline.csv")

<>:3: SyntaxWarning: invalid escape sequence '\o'
<>:3: SyntaxWarning: invalid escape sequence '\o'
C:\Users\mcj94\AppData\Local\Temp\ipykernel_8244\3532858624.py:3: SyntaxWarning: invalid escape sequence '\o'
  df2 = pd.read_csv("data\output\problem2_timeline.csv")

In [18]:
#find largest cluster ID..
largest_cluster_id = (df2.groupby("cluster_id").size().idxmax())

cluster_df = df2[df2["cluster_id"] == largest_cluster_id]

In [20]:
durations = cluster_df["duration_sec"].dropna()
durations = durations[durations > 0]
n = len(durations)

In [22]:
#plot our histogram with KDE overlay...
plt.figure(figsize=(10, 6))
plt.hist(
    durations,
    bins=30,
    density=True,
    alpha=0.6
)

#kde portion...
kde = gaussian_kde(durations)
x_vals = np.logspace(
    np.log10(durations.min()),
    np.log10(durations.max()),
    500
)
plt.plot(x_vals, kde(x_vals))

#Set our log scale on x-axis
plt.xscale("log")

#set labels for axis 
plt.xlabel("Job Duration (seconds, log scale)")
plt.ylabel("Density")
plt.title(
    f"Job Duration Distribution for Largest Cluster "
    f"(Cluster {largest_cluster_id}, n={n})"
)

plt.tight_layout()
plt.savefig("problem2_density_plot.png")
plt.close()